* {
    box-sizing: border-box;
}

:root {
    --primary-color: #171100;
    --secondary-color: #5f5b53;
    --animation-color: #ffb900;
    --primary-font: "Poppins";
    --secondary-font: "Sen";
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins";
}

/* Common */

.content {
    width: 1170px;
    max-width: calc(100% - 42px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    padding: 17px 8px;
    min-width: 144px;
    display: inline-block;
    background: var(--primary-color);
    border-radius: 26px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
}

.btn:active {
    background: #ffb900;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-icon {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: inline-block;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border: 1px solid var(--animation-color);
    color: var(--animation-color);
}

.play-icon:active {
    color: #fff;
    background-color: var(--animation-color);
}

.circle {
    color: #634700;
}

.circle:active,
.actived {
    color: #ffb900;
}

/* Header */

.header {
    padding-top: 36px;
    background: #fffcf4;
}

.header .navbar {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: auto;
    margin-right: 50px;
}

.nav ul {
    display: flex;
}

.nav a {
    padding: 8px 21px;
    font-size: 1.6rem;
    line-height: 28px;
    text-align: center;
    color: var(--secondary-color);
}

.nav a:hover,
.nav a.active {
    text-shadow: 1px 0 0 currentColor;
}

.nav a.active {
    position: relative;
}

.nav a.active::before {
    position: absolute;
    display: block;
    content: "";
    height: 2px;
    width: 12px;
    background: var(--primary-color);
    border-radius: 1px;
    left: 21px;
    bottom: 8px;
}

/* HERO */
.hero {
    padding: 65px 0;
    background-color: #fffcf4;
}

.hero .content {
    display: flex;
    align-items: center;
}

.hero .img-block {
    position: relative;
}

.hero .picture {
    height: 685px;
    width: 470px;
    border-radius: 20px;
    object-fit: cover;
}

.hero .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    position: absolute;
    bottom: 45px;
    right: -100px;
    width: 270px;
    height: 244px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero .card .item {
    display: flex;
    align-items: center;
}

.hero .card .item .info {
    margin-left: 16px;
}

.hero .card .item span {
    font-size: 1.4rem;
    line-height: 1.86;
    color: var(--secondary-color);
}

.hero .card .item .desc {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--primary-color);
}

.hero .info-block {
    margin-left: 230px;
}

.hero .info-block .title {
    font-family: var(--secondary-font);
    max-width: 470px;
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: var(--primary-color);
}

.hero .info-block .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--secondary-color);
}

.hero .info-block .action-block {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero .info-block .action-block .play-icon {
    margin-left: 28px;
}

.hero .info-block .action-block .linker {
    padding: 12px 14px;
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--primary-color);
}

.hero .info-block .stats-block {
    margin-top: 48px;
}

.hero .info-block .stats-block .sub-title {
    font-size: 1.8rem;
    line-height: 30px;
    color: var(--secondary-color);
}

.hero .info-block .stats-block .qty-block {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.hero .info-block .stats-block .qty-block strong {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 4.4rem;
    color: var(--primary-color);
}

.hero .info-block .stats-block .qty-block span {
    margin-left: 14px;
    margin-right: 28px;
}

/* COURSE */

.courses {
    padding: 200px 0;
}

.courses-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses-header .title {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: var(--primary-color);
}

.courses-header .desc {
    margin-top: 16px;
    max-width: 458px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--secondary-color);
}

.courses .action {
    display: flex;
    gap: 18px;
}

.courses .list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.courses .item {
    background: #ffffff;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.courses .thumb {
    height: 278px;
    width: 100%;
    border-radius: 12px 12px 0px 0px;
    flex: 1;
    object-fit: cover;
}

.courses .list .info {
    padding: 16px 22px 22px 22px;
}

.courses .rate {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    gap: 6px;
    color: #fea31b;
}

.courses .rate .fa-star {
    font-size: 1.8rem;
}

.courses .item .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 30px;
    color: var(--primary-color);
}

.courses .item .desc {
    margin-top: 6px;
    margin-bottom: 12px;
    font-size: 1.5rem;
    line-height: 1.85;
    color: var(--secondary-color);
}

.courses .item .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 30px;
    color: var(--primary-color);
}

.courses .item .courses-btn {
    min-width: 118px;
    font-size: 1.4rem;
}

/* Comment */
.comment {
    padding: 96px 0;
    background: #2e2100;
}

.comment .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment .info-block .avatar {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.comment .info-block .name {
    margin-top: 18px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 2.4rem;
    color: #f7f7f7;
}

.comment .info-block .desc {
    margin-top: 4px;
    width: 160px;
    font-size: 1.4rem;
    line-height: 26px;
    color: #bfbcb3;
}

.comment .info-block .button-wrap {
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 0.5rem;
    margin-top: 28px;
}

.comment .quotes {
    position: relative;
    font-style: italic;
    max-width: 740px;
    font-size: 2.6rem;
    line-height: 1.55;
    color: #ffffff;
}

.comment .lololol {
    position: absolute;
    top: -30px;
    left: -28px;
}
